<a href="https://colab.research.google.com/github/mir453/Primeros-Pasos-Tavo/blob/Prueba-1.1/Primer_paso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Primer intento - 14.02.23** - ***Data Internship***

## Lista de entregables (16.02.23)

*   *Fórmulas*
*   *Condicionales*
*   *Librerías*

### FÓRMULAS - 1er Intento

In [ ]:
#@title Fórmulas básicas
a = 3
b = 300 
c = 600
a*b*c

540000

In [ ]:
d = 5*a

In [ ]:
e = 3*a+5*b+8*c^2
d+e

6326

In [ ]:
e/d

420.73333333333335

### CONDICIONALES - 1er Intento

### LIBRERÍAS - 1er Intento


*   **Matplotlib** - Gráficos de datos
*   **Seaborn** - Gráficos de datos
*   **Numpy** - Funciones matemáticas
*   **Pandas** - Series matemáticas

In [ ]:
#@title Fragmentos de Código
import pandas as pd

Apellidos = ['Miranda', 'Copper', 'Ibgo','Dude']
Nombres = ['Sarah', 'John', 'Kyle', 'El']
df = pd.DataFrame({
  'Nombres': Nombres,
  'Apellidos': Apellidos,
})
df

  Nombres Apellidos
0   Sarah   Miranda
1    John    Copper
2    Kyle      Ibgo
3      El      Dude