<a href="https://colab.research.google.com/github/mir453/Primeros-Pasos-Tavo/blob/Prueba-1.1/Primer_paso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Primer intento - 14.02.23** - ***Data Internship***

## Lista de entregables (16.02.23)

*   *Fórmulas*
*   *Condicionales*
*   *Librerías*

### FÓRMULAS - 1er Intento

In [ ]:
#@title Fórmulas básicas
a = 3
b = 300 
c = 600
a*b*c

540000

In [ ]:
d = 5*a

In [ ]:
e = 3*a+5*b+8*c^2
d+e

6326

### CONDICIONALES - 1er Intento

In [15]:
if a>b:
  print("Not good")
else:
  print("Good")

Good

In [13]:
a = 56
b = 300

In [ ]:
e/d

420.73333333333335

In [7]:
#@title Fórmulas 2o intento
## Suma
a = 5
b = 4
c = 6
a+b-c

3

In [2]:
import numpy as np

In [3]:
np.e

2.718281828459045

In [8]:
a = np.e
b = 5

b-a+c

8.281718171540955

### LIBRERÍAS - 1er Intento


*   **Matplotlib** - Gráficos de datos
*   **Seaborn** - Gráficos de datos
*   **Numpy** - Funciones matemáticas
*   **Pandas** - Series matemáticas

In [17]:
#@title Fragmentos de Código
import pandas as pd

Apellidos = ['Miranda', 'Copper', 'Ibgo','Dude', 'Melon']
Nombres = ['Sarah', 'John', 'Kyle', 'El', 'Javier']
df = pd.DataFrame({
  'Nombres': Nombres,
  'Apellidos': Apellidos,
})
df

  Nombres Apellidos
0   Sarah   Miranda
1    John    Copper
2    Kyle      Ibgo
3      El      Dude
4  Javier     Melon

In [18]:
#@ title Matplotlib
import matplotlib